
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght,ELSH,ELXP@211,100,17&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

   
  
   .container {
       background: rgb(31, 32, 31);
        border-radius: 16px;
        /* box-shadow: 0 4px 30px rgba(220, 205, 205, 0.1); */
        box-shadow: 0 4px 30px rgba(220, 205, 205, 0.1);

        backdrop-filter: blur(3.2px);
        -webkit-backdrop-filter: blur(3.2px);
        border: 1px solid rgba(226, 214, 214, 0.3);
        color: white;
        border-radius: 0px;
        height: 100%;
        font-family: "Lato", sans-serif;
        word-spacing: 2px;
        letter-spacing: 2px;

    }
    .main{
        display: flex;
        justify-content: space-around;
        height: 100%;
    }

    .head {
        text-align: center;
        
    }

    .input {
       
        background-color: rgba(167, 162, 162, 0.5);
        color: white;
        border: 1px solid #e9e9e94f;
        height: 300px;
        width: 500px;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .inputen{
        background-color:rgb(148, 203, 201) ;
        width: 85%;
        border: solid white;
        border-radius: 5px;
        padding: 4px;

    }



.result{
      background-color: rgba(167, 162, 162, 0.5);
        color: white;
        border: 1px solid #e9e9e94f;
        border-radius: 15px;
        width: 40%;
        height: 65%;
        align-items: center;
}

.tabl{
    column-span: 2px;
    width: 100%;
    display: grid;
    border-radius: 10px;
    margin: 1%;
    color: white;
    
    
    
    
}

th{
    border: solid 2px #e9e9e94f;
    padding: 10px;
    padding-left: 80px;
    border-radius: 10px;
    width: 50%;
     
}
td{
    border: solid #e9e9e94f;
    border-radius: 10px;
    padding: 10px;
    margin: 1%;
    text-align: center;
    
}

.headding{
   border: solid  rgb(226, 214, 214, 0.3) ;
   border-radius: 10px;
   text-align: center;
}
.but{
    padding: 6px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;

}
.but:hover{
     background-color: rgb(40, 37, 37);
    color: aliceblue;
}
.inptext{

    border: solid 2px rgba(114, 106, 106, 0.3) ;
    border-radius: 5px ;
    padding: 2%;
    margin: 2%;

}

.coustomsubnet{
    border: solid 2px white;
    margin: 20px;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}


 @media only screen and (max-width: 768px){
    .main{

    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .result{
        width: 90%;
        height: 50%;
    }
    .tabl{
        width: 95%;
    }
    .container{
        height: 180%;
    }
 }